/* Global */ 
* {
    max-width: 100vw;
}

/* Navbar */ 
.navbar-brand {
    font-size: 2em;
    margin: -12px 0 -7px 0;
    padding-right: -20px;
}

/* Sidebar */ 
/* search prompt text */ 
#search-header {
    padding-top: 10px;
    padding-left: 2px;
}

/* search input */ 
#city-search {
    margin-left: -15px;
}

/* search history links */ 
.past {
    color: #636c72;
}

.past:hover {
    cursor: pointer;
}


/* Main View */ 
#current-view {
    margin-top: 20px;
}

/* current city name, date */ 
#city-stats li {
    display: inline-block;
    list-style: none;
}

#city-date {
    float: right;
    font-size: 1.4em;
    font-weight: 600;
}

#city-stats p {
    padding: 3px 0;
}

#city-stats #temp {
    padding-top: 8px;
}

#city-stats #uv-index {
    margin-bottom: -5px;
}

/* 5 Day Forecast */ 
.five-cards {
    color: #fff;
    padding: 5px;
    margin-top: 10px;
}

.five-cards .card-title {
    font-size: 1.1em;
    font-weight: 500;
}

.five-cards .icons {
    max-width: 50px;
    max-height: 40px;
    margin: 0 auto;
}