/* Global */ 
* {
    max-width: 100vw;
}

/* Navbar */ 
/* shrink it up a bit */ 
.navbar-brand {
    font-size: 2em;
    margin: -16px 0 -10px 0;
    padding-right: -20px;
}

/* Sidebar */ 
/* Search Prompt text */ 
#search-header {
    padding-top: 10px;
    padding-left: 2px;
}

/* Search Input */ 
#city-search {
    margin-left: -15px;
}

/* Search History Links */ 

/* in case people skip the shift key */ 
.search-history {
    text-transform: capitalize;
}

.past, #Recent-0 {
    color: #636c72;
}

.past:hover {
    cursor: pointer;
}

/* Main View */ 
#current-view {
    margin-top: 20px;
}

/* Current City Name & Date */ 
#city-name {
    text-transform: capitalize;
}

#city-stats li{
    display: inline-block;
    list-style: none;
}

#city-date {
    float: right;
    font-size: 1.4em;
    font-weight: 600;
}

/* spacing out the stats */ 
#city-stats p {
    padding: 3px 0;
}

#city-stats #temp {
    padding-top: 8px;
}

#city-stats {
    margin-top: -5px;
}

/* UV Index */ 
#uv-index {
    color: #fff;
}

#uv-index:hover {
    cursor: default;
}


/* Custom classes for UV Index
    inspired by Bootrap btn classes */ 
.btn-hazard {
    background-color: coral;
}

.btn-climate-change {
    background-color: purple;
}

/* 5 Day Forecast */
/* Heading */  
#five-day h5 {
    margin-top: 5px;
}

/* Card font & space */ 
.five-cards {
    color: #fff;
    padding: 5px 5px 0 5px;
}

.five-cards .card-title {
    font-weight: 500;
}

/* Weather Icons */ 
.five-cards .icons {
    max-width: 50px;
    max-height: 40px;
    margin: 0 auto;
}